@model MusicPortal.WEB.Models.ViewModels.MusicVM
@{
    ViewData["Title"] = "Трек - " + Model.Name;
}
<main>
    <div class="container">
    <section>
        <h3>Music: @Model.Name</h3>
        <div>
            <a class="">Жанр: @Model.Genre</a><br />          
        </div>
            <div>
                <a class="">Релизе: @Model.Date</a><br />
            </div>
            <div class="audio-player">
                <audio id="audio-player" src="@wc.MusicPath@Model.filesMusic" type="audio/mp3" controls="controls"></audio>
            </div>
           
             <div class="col-6 p-1">
                <a asp-controller="MyMusics" asp-action="AddMymusic" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Добавить в плейлист</a>
            </div>
        

            
    </section>
    
    </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#audio-player').mediaelementplayer({
                alwaysShowControls: true,
                features: ['playpause', 'volume', 'progress'],
                audioVolume: 'horizontal',
                audioWidth: 400,
                audioHeight: 120
            });
        });
    </script>
}